.efectoimg:hover{

    filter: opacity(50%);
}

.fab{
    font-size: 40px;
    padding-right: 10px;
}



@media all and (max-width: 576px) {

.img-responsive{
    height: 250px;
    object-fit: cover;
}

.centrar{
    text-align: center;
}

}